@import "tailwindcss";


@theme inline {
  --font-sans: var(--font-dm-sans);
  --font-display: var(--font-anton-sc);
}

@keyframes floaty {
  0% {
    transform: translate3d(0, 0, 0) rotate(0deg);
  }

  50% {
    transform: translate3d(0, -12px, 0) rotate(1.5deg);
  }

  100% {
    transform: translate3d(0, 0, 0) rotate(0deg);
  }
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.001ms !important;
    animation-iteration-count: 1 !important;
  }
}